@font-face {
  font-family: "iconfont"; /* Project id 2812574 */
  src: url('iconfont.woff2?t=1631616210493') format('woff2'),
       url('iconfont.woff?t=1631616210493') format('woff'),
       url('iconfont.ttf?t=1631616210493') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban:before {
  content: "\e625";
}

.icon-zhihu:before {
  content: "\e601";
}

.icon-GitHub:before {
  content: "\ea0a";
}

